In [5]:
# Exercice 1 : Charger le dataset et explorer les premières données
import pandas as pd
# Charger le dataset depuis un fichier CSV ou Excel
df = pd.read_excel('Dataset.xlsx')  
# Afficher les 5 premières lignes
print(df.head()) 
# Afficher les 5 dernières lignes
print(df.tail())
# Afficher les informations générales sur le DataFrame
print(df.info())
# Résumé statistique des colonnes numériques 
print(df.describe())

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate  Price  CustomerID         Country
0 2009-12-01 07:45:00   6.95     13085.0  United Kingdom
1 2009-12-01 07:45:00   6.75     13085.0  United Kingdom
2 2009-12-01 07:45:00   6.75     13085.0  United Kingdom
3 2009-12-01 07:45:00   2.10     13085.0  United Kingdom
4 2009-12-01 07:45:00   1.25     13085.0  United Kingdom
       Invoice StockCode                     Description  Quantity  \
567937  539991     21618  4 WILDFLOWER BOTANICAL CANDLES         1
567938  539991     72741           GRAND CHOCOLATECANDLE         4
567939  539992     21470   FLOWER VINE RAFFIA FOOD COVER         1
567940  539992     22258         FELT FARM ANIMAL RABBIT         1
567941  539992     21155           RED RETROSPOT PEG BAG         1

               InvoiceDate  Price  CustomerID         Country
567937 2010-12-23 16:49:00   1.25         NaN  United Kingdom
567938 2010-12-23 16:49:00   1.45         NaN  United Kingdom
567939 2010-12-23 17:41:00   3.75         NaN  United Kingdom
567940 2010-12-23 17:41:00   1.25         NaN  United Kingdom
567941 2010-12-23 17:41:00   2.10         NaN  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567942 entries, 0 to 567941
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      567942 non-null  object
 1   StockCode    567942 non-null  object
 2   Description  564889 non-null  object
 3   Quantity     567942 non-null  int64
 4   InvoiceDate  567942 non-null  datetime64[ns]
 5   Price        567942 non-null  float64
 6   CustomerID   444384 non-null  float64
 7   Country      567942 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 34.7+ MB
None
            Quantity                    InvoiceDate          Price  \
count  567942.000000                         567942  567942.000000
mean       10.167005  2010-07-10 20:15:54.157642752       4.796829
min     -9600.000000            2009-12-01 07:45:00  -53594.360000
25%         1.000000            2010-03-29 09:59:00       1.250000
50%         3.000000            2010-07-26 09:07:00       2.100000
75%        10.000000            2010-11-01 12:08:00       4.210000
max     19152.000000            2010-12-23 17:41:00   25111.090000
std       104.578722                            NaN     145.652632

          CustomerID
count  444384.000000
mean    15370.241721
min     12346.000000
25%     13999.000000
50%     15325.000000
75%     16823.000000
max     18287.000000
std      1684.786534

In [24]:
# Exercice 2 : Identifier et traiter les valeurs manquantes
import pandas as pd
df = pd.read_excel('Dataset.xlsx')  
# Vérifier les valeurs manquantes dans chaque colonne
print(df.isna().sum())
# Remplacer les valeurs manquantes de CustomerID par 0 
df['CustomerID'] = df['CustomerID'].fillna(0)
# Supprimer les lignes avec des valeurs manquantes dans Description
df.dropna(subset=['Description'], inplace=True)
# Vérifier si les valeurs manquantes ont été traitées 
print(df.isna().sum())

Invoice             0
StockCode           0
Description      3053
Quantity            0
InvoiceDate         0
Price               0
CustomerID     123558
Country             0
dtype: int64
Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
CustomerID     0
Country        0
dtype: int64

In [10]:
# Exercice 3 : Gérer les données incohérentes
# Vérifier les valeurs négatives dans Quantity
neg_quantity = df[df['Quantity'] < 0] 
print(neg_quantity) 
# Remplacer les valeurs négatives de Quantity par 0 
df['Quantity'] = df['Quantity'].apply(lambda x: 0 if x < 0 else x)
# Vérifier les valeurs aberrantes dans Price (ex: Prix inférieur à 0) 
outliers = df[df['Price'] <= 0] 
print(outliers)
# Supprimer les lignes où Price est inférieur ou égal à 0 
df = df[df['Price'] > 0]

        Invoice StockCode                         Description  Quantity  \
178     C489449     22087            PAPER BUNTING WHITE LACE       -12
179     C489449    85206A        CREAM FELT EASTER EGG BASKET        -6
180     C489449     21895       POTTING SHED SOW 'N' GROW SET        -4
181     C489449     21896                  POTTING SHED TWINE        -6
182     C489449     22083          PAPER CHAIN KIT RETRO SPOT       -12
...         ...       ...                                 ...       ...
567083  C539950    85099C      JUMBO  BAG BAROQUE BLACK WHITE        -1
567084  C539950    85099B             JUMBO BAG RED RETROSPOT       -10
567085  C539950     22720   SET OF 3 CAKE TINS PANTRY DESIGN         -2
567157  C539956    35004C     SET OF 3 COLOURED  FLYING DUCKS       -15
567792  C539983     82483  WOOD 2 DRAWER CABINET WHITE FINISH        -6

               InvoiceDate  Price  CustomerID         Country
178    2009-12-01 10:33:00   2.95     16321.0       Australia
179    2009-12-01 10:33:00   1.65     16321.0       Australia
180    2009-12-01 10:33:00   4.25     16321.0       Australia
181    2009-12-01 10:33:00   2.10     16321.0       Australia
182    2009-12-01 10:33:00   2.95     16321.0       Australia
...                    ...    ...         ...             ...
567083 2010-12-23 11:50:00   1.95     13534.0  United Kingdom
567084 2010-12-23 11:50:00   1.95     13534.0  United Kingdom
567085 2010-12-23 11:50:00   4.95     13534.0  United Kingdom
567157 2010-12-23 12:55:00   4.65     12980.0  United Kingdom
567792 2010-12-23 14:49:00   4.95     15856.0  United Kingdom

[11235 rows x 8 columns]
       Invoice StockCode                 Description  Quantity  \
263     489464     21733                85123a mixed         0
283     489463     71477                       short         0
284     489467    85123A                 21733 mixed         0
3162    489660     35956                        lost         0
3168    489663    35605A                     damages         0
...        ...       ...                         ...       ...
566965  539856     21888                   BINGO SET         2
566966  539856     21539   RED RETROSPOT BUTTER DISH         3
566967  539856     21258  VICTORIAN SEWING BOX LARGE         3
566968  539856     21116                OWL DOORSTOP         1
566969  539856     20719      WOODLAND CHARLOTTE BAG         1

               InvoiceDate  Price  CustomerID         Country
263    2009-12-01 10:52:00    0.0         0.0  United Kingdom
283    2009-12-01 10:52:00    0.0         0.0  United Kingdom
284    2009-12-01 10:53:00    0.0         0.0  United Kingdom
3162   2009-12-01 17:43:00    0.0         0.0  United Kingdom
3168   2009-12-01 18:02:00    0.0         0.0  United Kingdom
...                    ...    ...         ...             ...
566965 2010-12-22 14:41:00    0.0         0.0  United Kingdom
566966 2010-12-22 14:41:00    0.0         0.0  United Kingdom
566967 2010-12-22 14:41:00    0.0         0.0  United Kingdom
566968 2010-12-22 14:41:00    0.0         0.0  United Kingdom
566969 2010-12-22 14:41:00    0.0         0.0  United Kingdom

[910 rows x 8 columns]

In [25]:
# Exercice 4 : Transformer les colonnes et formater les données
# Convertir CustomerID en int64 
df['CustomerID'] = df['CustomerID'].astype('int64')
# Extraire l'année de InvoiceDate et créer une nouvelle colonne Year
df['Year'] = pd.DatetimeIndex(df['InvoiceDate']).year
# Normaliser les données de Price en les divisant par 100
df['Price'] = df['Price'] / 100
# Vérifier le résultat
print(df[['InvoiceDate', 'Year', 'Price']].head())

          InvoiceDate  Year   Price
0 2009-12-01 07:45:00  2009  0.0695
1 2009-12-01 07:45:00  2009  0.0675
2 2009-12-01 07:45:00  2009  0.0675
3 2009-12-01 07:45:00  2009  0.0210
4 2009-12-01 07:45:00  2009  0.0125

In [28]:
# Exercice 5 : Créer des sous-ensembles de données
# Sous-ensemble des transactions provenant du United Kingdom 
df_uk = df[df['Country'] == 'United Kingdom']
print(df_uk.head())
# Sous-ensemble où Quantity > 10 et Price > 2 
df_filtered = df[(df['Quantity'] > 10) & (df['Price'] > 2)]
print(df_filtered.head())
# Sous-ensemble avec CustomerID valide 
df_valid_customers = df[df['CustomerID'] != 0] 
print(df_valid_customers.head())

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate   Price  CustomerID         Country  Year
0 2009-12-01 07:45:00  0.0695       13085  United Kingdom  2009
1 2009-12-01 07:45:00  0.0675       13085  United Kingdom  2009
2 2009-12-01 07:45:00  0.0675       13085  United Kingdom  2009
3 2009-12-01 07:45:00  0.0210       13085  United Kingdom  2009
4 2009-12-01 07:45:00  0.0125       13085  United Kingdom  2009
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, CustomerID, Country, Year]
Index: []
  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate   Price  CustomerID         Country  Year
0 2009-12-01 07:45:00  0.0695       13085  United Kingdom  2009
1 2009-12-01 07:45:00  0.0675       13085  United Kingdom  2009
2 2009-12-01 07:45:00  0.0675       13085  United Kingdom  2009
3 2009-12-01 07:45:00  0.0210       13085  United Kingdom  2009
4 2009-12-01 07:45:00  0.0125       13085  United Kingdom  2009

In [30]:
# Exercice 6 : Détection des doublons et nettoyage
# Vérifier les doublons 
doublons = df.duplicated() 
print(f"Nombre de doublons : {doublons.sum()}")
# Supprimer les doublons
df_cleaned = df.drop_duplicates()
# Vérifier que les doublons ont été supprimés 
print(f"Nombre de lignes après suppression des doublons : {df_cleaned.shape[0]}")

Nombre de doublons : 29460
Nombre de lignes après suppression des doublons : 535429

In [ ]:
# Exercice 7 : Détection et traitement des données nulles
# Charger le dataset (assumer que df contient déjà le DataFrame)
df = pd.read_excel('Dataset.xlsx')  

# 1. Identifier les colonnes contenant des valeurs nulles 
valeurs_nulles = df.isnull().sum() 
print("Nombre de valeurs nulles par colonne :") 
print(valeurs_nulles)

# 2. Calculer le pourcentage de valeurs manquantes pour chaque colonne
pourcentage_null = (df.isnull().sum() / df.shape[0]) * 100 
print("\nPourcentage de valeurs manquantes par colonne :")
print(pourcentage_null)

# 3. Remplacer les valeurs nulles de CustomerID par 0
df['CustomerID'] = df['CustomerID'].fillna(0)

# 4. Remplacer les valeurs nulles dans Description par "No Description"
df['Description'] = df['Description'].fillna('No Description')

# 5. Supprimer les lignes où plus de 2 colonnes contiennent des valeurs nulles 
df_cleaned = df.dropna(thresh=df.shape[1] - 2)

# Vérification après traitement 
print("\nValeurs nulles après traitement :") 
print(df_cleaned.isnull().sum())

# Sauvegarder le DataFrame nettoyé dans un nouveau fichier CSV 
df_cleaned.to_csv('dataset_cleaned.csv', index=False) 
print("Le fichier dataset_cleaned.csv a été enregistré avec succès.")

In [35]:
# Exercice 8 : Sauvegarder le DataFrame nettoyé
# Sauvegarder le DataFrame nettoyé dans un fichier CSV 
df_cleaned.to_csv('dataset_cleaned.csv', index=False)
# Vérifier que le fichier a été créé 
print("Le fichier dataset_cleaned.csv a été enregistré avec succès.")

Le fichier dataset_cleaned.csv a été enregistré avec succès.